@import "_header";

h1 {
	color: green;
}

body {
	font-size: 20px;
	div {
		font-size: 10px;
	}
}
p {
	color: #a35858;
}
h2 {
	font-size: 50px;
}
.block {
	&__item {
	}
}
.block {
}
.block__item {
}
.red {
	color: red;
}
